{% extends 'base.html' %}

{% block title %}
  Профайл пользователя
{% endblock %}  

{% block content %}
    <div class="row">
      <div class="col-md-3"> 
      Это колонка 1
      </div>  
      <div class="col-md-9"> 
        Это колонка 2
           safklsd;fk lsdfk;l sdfl ksf;lsdk flas;dfklsdl;sd f fl;sdl;skdfl
           sdafl;sadfl;sdkflksdl;    ksfl; kdsl;fsdkl;     sklfdkfl;ds l;dks      kl s;sl;dfklsdl
           ddlfk l;sdfkl;safk;fkld      klsf kljkljklsdf;jfklg fjklfjsladkfjklsdafka
           <img class="card-img my-2" src="media/posts/IMG_2188.JPG">
      </div>  
    </div>
{% endblock %}  
